.detail{
    padding:0;
}

.detail .slider-products{
    margin-right: 50px;
}

.detail .stars i{
    color: #000;
    margin-right: 5px;
}

.detail .title {
    font-family: "Forum", serif;
    font-size: 48px;
    text-transform: uppercase;
}

.detail .title::after {
    display: block;
    content: "";
    margin-top: 10px;
    width:20%;
    height: 3px;
    background: #579653;
}

.detail .description {
    margin-top: 20px;
    color: #666666;
}

.detail .title-short {
    color: #666666;
    margin-bottom: 10px;
}

.detail .price {
    font-size: 24px;
    font-weight: 600;
    margin-right: 15px;
}
.detail .sale-price {
    font-size: 16px;
    text-decoration: line-through;
    color: #878787;
}

.detail .btnrad {
    padding: 8px 24px;
    border: 1px solid #888888;
    cursor: pointer;
    border-radius: 20px;
}

.detail #add-to-cart .input-group{
    width: fit-content;
}
.detail .quantity{
    display: flex;
}
.detail .quantity input{
    border: 1px solid #ccc;
    text-align: center;

    background: transparent;
    width: 60px;

}
.detail .quantity .minus{
    display: flex;
    align-items: center;
    padding: .55rem 1.2rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 26px 0 0 26px;
    border-right: 0;
    background: transparent;
}
.detail .quantity  .plus{
    display: flex;
    align-items: center;
    padding: .55rem 1.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0 26px 26px 0;
    border-left: 0;
    background: transparent;
}
.detail .btnaddcart {
    display: block;
    background: #579653;
    box-shadow: 5px 5px 0px 0px #B7EB94;
    color: #fff;
    border: 1px solid #000;
    border-radius: 60px;
    padding: 8px 50px;
    text-transform: uppercase;
    font-size: 18px;
}

.btn-check:checked + .btnrad {
    background: #DEF4BC;
    border: none;
}

#title-review-products{ text-align: center;}
#title-review-products h2{
    font-family: "Forum", serif;
    text-align: center; color:#000; font-size: 32px;
    text-transform: uppercase;
}

#title-review-products .stars i{
    font-size: 20px;
    margin-right: 2px;
}
#title-review-products .btn-write{
    background: #181818;
    border: 1px solid #000000;
    color: #fff;
    padding: 8px 32px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .detail .products-list article{ text-align: center;}
    .products-list .item-img{text-align: center;}
    .detail .slider-products{
        margin-right: 0px;
    }
    .detail .slider-products .mySwiper .swiper-slide {
        width: 60px!important;
        height: 60px!important;
    }
}


@media (min-width: 768px) and (max-width: 1280px) {
    .products-list .item-img{text-align: center;}
    .detail .slider-products{
        margin-right: 0px;
    }
    .detail .slider-products .mySwiper .swiper-slide {
        width: 60px!important;
        height: 60px!important;
    }
}

#list-review h4{ font-size: 18px;}
#list-review h3{ font-size: 20px;}
#list-review .stars i{
    color: #579653;
    margin-right: 5px;
}

.detail .swiper {
    width: 100%;
    height: 100%;
}

.detail .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.detail .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.detail .swiper-slide {
    background-size: cover;
    background-position: center;
}

.detail .mySwiper2 {
    height: 500px;
    width: 80%;
    float: right;
}

.detail .mySwiper {
    float: left;
    width: 20%;
    height: 450px!important;
    box-sizing: border-box;
}

.detail .mySwiper .swiper-slide {
    width: 80px;
    height: 80px!important;
    opacity: 0.4;
}

.detail .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.detail .mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.detail .mySwiper .swiper-slide.swiper-slide-thumb-active img {
    border: 2px solid #579653
}

.recent-products{
    background: #FDF2E0;
}


@media screen and (max-width: 768px) {
}
