
.detail .btnlike{ margin-left: 20px; font-size: 48px;}
.detail .slider-products{ padding: 20px; border: 3px dashed #ddd;}

.customer-say{
    background: #F4F6DA;
}

.icon-box-detail .mfu-icon {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    border-radius: 60px;
    background: #F4F6DA;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.icon-box-detail .mfu-icon svg{
    width: 37.501px;
    height: 30px;
    flex-shrink: 0;
}

.icon-box-detail h4{
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.detail .parameter span{ background: #FFF8EF;}

.detail .price{
    color: #707070;
    font-size: 16px;
    font-weight: 700;
}

.detail .price .price-sales{
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
}

.detail .price .price-primary {
    margin-left: 20px;
    color: #E97A13;
    font-size: 28px;
    font-weight: 800;
}

.detail .swiper {
    width: 100%;
    height: 100%;
}

.detail .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.detail .swiper-slide {
    background-size: cover;
    background-position: center;
}

.detail .mySwiper2 {
    height: 80%;
    width: 100%;
}

.detail .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.detail .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.detail .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.detail .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}